<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>week4</title>
    <style>
    .welcome{display: flex;justify-content:center;align-items: center;background-color:#375476;height:100px;}
    .msg{display: flex;justify-content:center;align-items: center;}
    .back{display: flex;justify-content:center;}
    .msg{font-size:20px;margin-top:20px;}
    h1{flex:none;color:white;text-align: center;}
    a{font-size:20px;margin-top:20px;}
    </style>

</head>
    
<body>
    <div class="welcome"><h1>失敗頁面</h1></div>
    <div class="msg">{{  message }}</div>
    <div class="back">
        <a href="/">回登錄畫面</a>
        
    </div>

</body>
</html>