<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>week6</title>
    <style>
    .welcome{display: flex;justify-content:center;align-items: center;background-color:#375476;height:100px;}
    .login{display: flex;justify-content:center;align-items: center;}
    .signout{display: flex;justify-content:center;}
    h1{flex:none;color:white;text-align: center;}
    </style>

</head>
    
<body>
    <div class="welcome"><h1>歡迎光臨，這是會員頁</h1></div>
    <div class="login"><h2>{{ name }}，歡迎登入系統</h2></div>
    <div class="signout">   
    <a href="/signout">登出系統</a>    

       
        
    </div>

</body>
</html>