
.line1{
    display:flex;                                               /*容器中的項目並排*/
}
.title{
    flex:none;width:150px;                                      /*無彈性，大小固定*/
    justify-content:flex-end;                                   /*靠左邊*/
    font-size:20px;                             
    font-weight: bold;                          
}
.menu{
    flex:auto;                                                   /*有彈性*/
    display: flex;justify-content:flex-end;                      /*容器內水平靠右*/ 
    align-items: center;                                         /*容器內垂直置中*/                
    font-size:20px;
    }
.item{
    margin-left:10px;                                           /*選單邊界左邊10px*/
    margin-right:10px;                                          /*選單邊界右邊10px*/
}
.welcome{
    display:flex;justify-content:center;align-items:center;     /*完美置中*/
    height: 300px;
    font-size:40px;                                                     
    background-color: lightblue;            
    font-weight: bold;                 
}
.table{display: flex;justify-content: center;}
.grid{ 
    Position:relative;top:20px;
    display:grid;
    width:1200px;
    grid-template-rows:repeat(4, 1fr);           
    grid-template-columns:repeat(4, 1fr);
    grid-gap:20px;
    grid-template-areas:
        "p p p p"
        "p p p p"
        "p p p p"
        "p p p p";
    justify-content: center;    
}
.p{margin: auto;}
.p img{
    max-width:90%;
    height: 200px;
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
}

.t{
    max-width: 90%;
    background-color:lightblue;
    font-style:20px;
    text-align: center;
    padding-top: 20px;                                          
    padding-bottom: 20px;                                       
    margin: auto;
}
#np{display:none;}
.buttonbox{display: flex;justify-content: center;align-content: center; }
#btn{margin-top: 50px;}
.newmenu img{display:none;}
 
@media (max-width:1200px) and (min-width:601px) { 
    .grid{
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(8, 1fr);
        grid-template-areas:
        "p p"
        "p p"
        "p p"
        "p p"
        "p p"
        "p p"
        "p p"
        "p p";
        justify-content: center;
    }
    .p{margin: auto;}
    .p img{margin:auto ;}
    .t{margin:auto ;}

}
@media(max-width:600px) {
    .grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(16, 1fr);
        grid-template-areas:
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p"
        "p";
        justify-content: center;
    
    }
    .p{margin: auto;}
    .p img{margin: auto;}
    .t{margin:auto ;}


    .item{display:none;}  
    .newmenu img{
        display:inline;
        width:20px;
        justify-content:flex-end;
    }
}